version: '3.8'

services:
  web:
    container_name: liai-web
    # Construye la imagen usando el Dockerfile en el directorio actual (.)
    build: .
    ports:
      - "8080:80"
    volumes:
      - type: bind
        source: .
        target: /usr/share/nginx/html